.flex-container {
    display: flex;
    border:1px solid #ccc;
}

.column {
    flex-direction: column;
}

.flex-item {
    text-align:left;
    font-size: 1em;
    /* padding: 1.2em; */
    color: white;
}
.color1 {background-color: #675BA7;}

.forInputText {
    width: 50em;
    height: 15em;
}

.forTextFields {
    width: 30em;
}

.indent {
    margin-top: 0.5em;
}

.right {
    text-align: right;
}

.buttonSize {
    width: 5.5em;
}